<div class="container">


    <div class="row align-items-center" style="min-height: calc(50vh - 0px);">
        <div class="col-lg-6 mx-auto">
            <div class="input-group">
                <input id="gameSearch" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <a id="searchBtn"  class="btn btn-secondary" href="/product">GO!</a>
                </span>
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom text-center">
        <span> <img
                src="https://raw.githubusercontent.com/Michaelwall8/first-repository/main/main-qimg-9518957859e33fcb0840a2e056574b3d.jpg">
        </span>
    </footer>
</div>

{{!--
<footer class="footer fixed-bottom text-center">
    <span class="text">Place sticky footer content here.</span>
</footer> --}}

{{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button
    class="btn btn-outline-success" type="submit">Search</button> --}}
{{!-- <button class="btn btn-outline-success" type="submit">Search</button> --}}
