<form class = "login" action="/login">
  <h2>login</h2>
  <label class="label" for="email">Email</label>
  <input class="input" type="text" name="email" id="loginEmail"required />
  <div class="emailError"></div>
  <label class="label" for="password">Password</label>
  <input class="input" type="password" name="password" id="loginPassword"required />
  <div class="passwordError"></div>
  <button class="button">login</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/signup.js"></script>