<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="text-center">
      <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">{{data.name}}</h2>

    <div class="row">
      <div class="col-lg-6">
          <img id="gameImg" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg"
                alt="First slide" class="img-fluid">
        
      </div>

      <div class="col-lg-5 text-center text-md-left">

        <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">tags</span>
        <span class="badge badge-success product mb-4 ml-2">tags</span>

        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong>$1449</strong>
          </span>
          <span class="grey-text">
            <small>
              <s>$1789</s>
            </small>
          </span>
        </h3>

        <div class="font-weight-normal">
          
          <p class="ml-xl-0 ml-4">GAME DESCRIPTION</p>

          <p class="ml-xl-0 ml-4">{{data.platforms}}</p>
          <p class="ml-xl-0 ml-4">{{data.genres}}</p>
          <p class="ml-xl-0 ml-4">ESRB RATING</p>
          {{!-- if inventory > 0 disply in stock else display out of stock --}}
          <p class="ml-xl-0 ml-4"><strong>Availability: </strong>In stock</p>          

        </div>

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>

