<div class="container my-5">

  <!-- Section: Block Content -->
  <section>

    <div class="row">

      <!-- New Products -->
      <div>

        {{#each ourData}}
        <!-- Card -->
        <div class="card hoverable mb-4">
          <div class="card-body">
            <div class="row align-items-center">
              {{!-- <div class="col-6 px-0">
                <a>
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg"
                    class="img-fluid">
                </a>
              </div> --}}
              <div class="col-6">
                <a class="singleSearch" data-slug={{dataValues.game_slug}}>
                  <strong>{{dataValues.name}}</strong>
                </a>
                <ul class="rating inline-ul">
                  <li style="list-style-type:none;">
                    <p class="fas fa-star blue-text">{{dataValues.platforms}}</p>
                  </li>
                  <li style="list-style-type:none;">
                    <p class="fas fa-star blue-text">{{dataValues.genres}}</p>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
      {{/each}}
      </div>
      <!-- Random Products -->

    </div>

  </section>
  <!-- Section: Block Content -->

</div>