<div class="container my-5">

  <!-- Section: Block Content -->
  <section>

    <div class="row">

      <!-- New Products -->
      <div>

        {{#each ourData}}
        <!-- Card -->
        <div class="card hoverable mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12">                
                <ul class="rating inline-ul">
                  <li class="reviewLi"><p class="red-text" style="font-size: 30px;"><a class="singleSearch" data-slug={{dataValues.game_slug}}>{{dataValues.name}}</a></p></li>
                  <li class="reviewLi">
                    <p class="fas fa-star">{{dataValues.platforms}}</p>
                  </li>
                  <li class="reviewLi">
                    <p class="fas fa-star">{{dataValues.genres}}</p>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
      {{/each}}
      </div>
      <!-- Random Products -->

    </div>

  </section>
  <!-- Section: Block Content -->

</div>