<form class = "signup"action="/signup">
  <h2>Sign up</h2>
  <label class="label" for="email">Email</label>
  <input class="input" type="text" name="email" id="signupEmail" required />
  <div class="email-error"></div>
  <label class="label" for="password">Password</label>
  <input class="input" type="password" name="password" id="signupPassword" required />
  <div class="password-error"></div>
  <button class="button">Sign up</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/signup.js"></script>